n8n-recordatorio-tutorias.json
{
  "name": "DidactIA — Recordatorio Tutorías",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "ee110000-0000-0000-0000-000000000001",
      "name": "Diario 18:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─── EDITAR ANTES DE ACTIVAR ───────────────────────────────\nconst SUPABASE_KEY = 'PEGAR_SERVICE_ROLE_KEY_AQUI';\n// ───────────────────────────────────────────────────────────\nconst SUPABASE_URL = 'https://rflfsbrdmgaidhvbuvwb.supabase.co';\nconst pad = n => String(n).padStart(2, '0');\nconst fmt = d => `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}`;\nconst t = new Date(); t.setDate(t.getDate() + 1);\nconst tomorrow = fmt(t);\nreturn [{ json: { SUPABASE_URL, SUPABASE_KEY, tomorrow } }];"
      },
      "id": "ee110000-0000-0000-0000-000000000002",
      "name": "Config y fecha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config y fecha').first().json.SUPABASE_URL + '/rest/v1/tutoria_citas' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config y fecha').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Config y fecha').first().json.SUPABASE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,fecha,hora_inicio,alumno_nombre,tutor_id,familia_id,estado"
            },
            {
              "name": "fecha",
              "value": "={{ 'eq.' + $('Config y fecha').first().json.tomorrow }}"
            },
            {
              "name": "estado",
              "value": "eq.confirmada"
            },
            {
              "name": "limit",
              "value": "500"
            }
          ]
        },
        "options": {}
      },
      "id": "ee110000-0000-0000-0000-000000000003",
      "name": "Get Citas Mañana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Config y fecha').first().json;\nconst _get = name => { const items = $(name).all(); if (!items.length) return []; const first = items[0].json; if (Array.isArray(first)) return first; return items.map(i => i.json).filter(Boolean); };\nconst citas = _get('Get Citas Mañana');\nif (!citas.length) return []; // sin citas confirmadas mañana → no envía nada\nconst meses = ['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic'];\nconst fechaLeg = d => { const [y,m,day] = String(d).split('-'); return `${parseInt(day)} ${meses[parseInt(m)-1]}`; };\n// Una notificación por cita, al familia_id y al tutor_id\nreturn citas.map(c => {\n  const hora = String(c.hora_inicio || '').slice(0, 5);\n  const ids = [c.familia_id, c.tutor_id].filter(Boolean);\n  const quien = c.alumno_nombre ? ' · ' + c.alumno_nombre : '';\n  return { json: {\n    user_ids: ids,\n    title: '📅 Recordatorio de tutoría',\n    body: `Tienes una tutoría mañana ${fechaLeg(c.fecha)} a las ${hora}${quien}.`,\n    tag: 'tut-recordatorio-' + c.id,\n    supabaseUrl: cfg.SUPABASE_URL,\n    supabaseKey: cfg.SUPABASE_KEY\n  }};\n});"
      },
      "id": "ee110000-0000-0000-0000-000000000004",
      "name": "Build Push",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.supabaseUrl + '/functions/v1/send-push' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.supabaseKey }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.supabaseKey }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { user_ids: $json.user_ids, title: $json.title, body: $json.body, tag: $json.tag } }}",
        "options": {}
      },
      "id": "ee110000-0000-0000-0000-000000000005",
      "name": "Send Push",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        400
      ]
    }
  ],
  "connections": {
    "Diario 18:00": {
      "main": [
        [
          {
            "node": "Config y fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config y fecha": {
      "main": [
        [
          {
            "node": "Get Citas Mañana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Citas Mañana": {
      "main": [
        [
          {
            "node": "Build Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Push": {
      "main": [
        [
          {
            "node": "Send Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
