n8n-alertas-ib.json
{
  "name": "DidactIA — Alertas Plazos IB",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 9 * * 1-5" }
          ]
        }
      },
      "id": "d4d0d004-0000-0000-0000-000000000001",
      "name": "Lunes-Viernes 9:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "// ─── EDITAR ESTAS DOS LÍNEAS ANTES DE ACTIVAR ───────────────\nconst SUPABASE_KEY = 'PEGAR_SERVICE_ROLE_KEY_AQUI';\nconst RESEND_KEY   = 'PEGAR_RESEND_API_KEY_AQUI';\n// ─────────────────────────────────────────────────────────────\n\nconst SUPABASE_URL  = 'https://rflfsbrdmgaidhvbuvwb.supabase.co';\nconst FROM_EMAIL    = 'DidactIA IB <ib@didactia.eu>';\nconst SUPERADMIN_CC = 'jesvivlc@gmail.com';\n\nconst pad = n => String(n).padStart(2, '0');\nconst fmt = d => `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}`;\nconst now = new Date();\nconst today = fmt(now);\nconst fechaLegible = now.toLocaleDateString('es-ES', {\n  weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'\n});\n\nreturn [{ json: { SUPABASE_URL, SUPABASE_KEY, RESEND_KEY, FROM_EMAIL, SUPERADMIN_CC, today, fechaLegible } }];"
      },
      "id": "d4d0d004-0000-0000-0000-000000000002",
      "name": "Config y fechas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config y fechas').first().json.SUPABASE_URL + '/rest/v1/profiles' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config y fechas').first().json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config y fechas').first().json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,full_name,email,centro_id,centros(id,nombre)" },
            { "name": "rol",    "value": "eq.admin" },
            { "name": "activo", "value": "neq.false" }
          ]
        },
        "options": {}
      },
      "id": "d4d0d004-0000-0000-0000-000000000003",
      "name": "Get Admins",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config y fechas').first().json.SUPABASE_URL + '/rest/v1/plazos_ib' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config y fechas').first().json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config y fechas').first().json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,centro_id,titulo,descripcion,fecha_limite,tipo,afecta_a,curso_escolar" },
            { "name": "estado", "value": "eq.pendiente" },
            { "name": "order",  "value": "fecha_limite.asc" },
            { "name": "limit",  "value": "500" }
          ]
        },
        "options": {}
      },
      "id": "d4d0d004-0000-0000-0000-000000000004",
      "name": "Get Plazos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Config y fechas').first().json;\n\nconst _get = name => {\n  const items = $(name).all();\n  if (!items.length) return [];\n  const first = items[0].json;\n  if (Array.isArray(first)) return first;\n  return items.map(i => i.json).filter(Boolean);\n};\n\nconst ad = _get('Get Admins');\nconst pl = _get('Get Plazos');\n\n// Escapado básico para datos de usuario en HTML\nconst esc = s => (s || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\n// Agrupar plazos por centro_id\nconst plazosByCentro = {};\npl.forEach(p => {\n  if (!plazosByCentro[p.centro_id]) plazosByCentro[p.centro_id] = [];\n  plazosByCentro[p.centro_id].push(p);\n});\n\n// Calcular días restantes respecto a hoy\nconst todayDate = new Date(cfg.today + 'T12:00:00');\nconst daysDiff  = fechaStr => Math.ceil((new Date(fechaStr + 'T12:00:00') - todayDate) / 86400000);\nconst fmtFecha  = dateStr  => new Date(dateStr + 'T12:00:00').toLocaleDateString('es-ES', {\n  day: 'numeric', month: 'short', year: 'numeric'\n});\n\nconst TIPOS = {\n  entrega_ia: 'Entrega IA', tok: 'TOK', cas: 'CAS',\n  examen: 'Examen', formulario: 'Formulario', reunion: 'Reunión', otro: 'Otro'\n};\n\n// ── Estilos compartidos ──────────────────────────────────────\nconst TH  = `padding:8px 12px;font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:0.04em;color:#666;background:#f8f9fa;border-bottom:2px solid #e8e8e8;text-align:left;`;\nconst TD  = `padding:10px 12px;color:#333;font-size:13px;border-bottom:1px solid #f0f0f0;vertical-align:middle;`;\nconst TDC = `padding:10px 12px;color:#333;font-size:13px;border-bottom:1px solid #f0f0f0;text-align:center;vertical-align:middle;`;\n\nconst diasBadge = dias => {\n  let color, label;\n  if (dias < 0)        { color = '#b71c1c'; label = `Vencido +${Math.abs(dias)}d`; }\n  else if (dias === 0) { color = '#c62828'; label = 'Hoy'; }\n  else if (dias <= 2)  { color = '#c62828'; label = `${dias} día${dias === 1 ? '' : 's'}`; }\n  else if (dias <= 7)  { color = '#e65100'; label = `${dias} días`; }\n  else                 { color = '#1e6b3a'; label = `${dias} días`; }\n  return `<span style='background:${color};color:#fff;padding:2px 8px;border-radius:10px;font-size:11px;font-weight:700;white-space:nowrap;'>${label}</span>`;\n};\n\nconst statCell = (count, color, label, isLast) =>\n  `<td style='padding:18px 20px;text-align:center;${isLast ? '' : 'border-right:1px solid #e8e8e8;'}'>` +\n  `<div style='font-size:32px;font-weight:700;color:${color};line-height:1;'>${count}</div>` +\n  `<div style='font-size:10px;color:#888;margin-top:4px;text-transform:uppercase;'>${label}</div></td>`;\n\n// ── Generar un email por coordinador (admin) ─────────────────\nreturn ad.filter(a => a.email && String(a.email).includes('@')).flatMap(admin => {\n  const cId  = admin.centro_id;\n  const cNom = (admin.centros && admin.centros.nombre) || 'Centro';\n\n  // Todos los plazos pendientes del centro con días calculados\n  const myPlazos = (plazosByCentro[cId] || [])\n    .map(p => ({ ...p, dias: daysDiff(p.fecha_limite) }))\n    .sort((a, b) => a.dias - b.dias);\n\n  // Solo enviar email si hay algún plazo en ≤7 días (o vencido)\n  if (!myPlazos.some(p => p.dias <= 7)) return [];\n\n  // Tabla: plazos ≤30 días y todos los vencidos\n  const visible    = myPlazos.filter(p => p.dias <= 30);\n  const hasOverdue = myPlazos.some(p => p.dias < 0);\n  const hasUrgent  = myPlazos.some(p => p.dias >= 0 && p.dias <= 2);\n  const isUrgente  = hasOverdue || hasUrgent;\n  const alertCount = myPlazos.filter(p => p.dias <= 7).length;\n\n  // Cabecera dinámica según urgencia\n  const headerBg    = hasOverdue ? '#b71c1c' : isUrgente ? '#e65100' : '#1565c0';\n  const headerLabel = hasOverdue\n    ? 'Plazo IB vencido — Acción requerida'\n    : isUrgente ? 'Plazo IB urgente próximo' : 'Plazos IB próximos';\n  const subjPrefix  = hasOverdue ? '🚨 VENCIDO — ' : isUrgente ? '⚠️ URGENTE — ' : '';\n\n  const rows = visible.map(p =>\n    `<tr>` +\n    `<td style='${TD}font-weight:600;'>${esc(p.titulo)}` +\n    (p.descripcion ? `<div style='font-size:11px;color:#888;font-weight:400;margin-top:2px;'>${esc(p.descripcion)}</div>` : '') +\n    `</td>` +\n    `<td style='${TDC}white-space:nowrap;'>${fmtFecha(p.fecha_limite)}</td>` +\n    `<td style='${TDC}'>${diasBadge(p.dias)}</td>` +\n    `<td style='${TDC}'>${esc(TIPOS[p.tipo] || p.tipo || '—')}</td>` +\n    `<td style='${TDC}'>${esc(p.afecta_a || '—')}</td>` +\n    `</tr>`\n  ).join('');\n\n  const fallbackRow = `<tr><td colspan='5' style='${TD}text-align:center;color:#888;padding:16px;'>Sin plazos en los próximos 30 días</td></tr>`;\n\n  const html =\n    `<!DOCTYPE html><html lang='es'><head><meta charset='UTF-8'>` +\n    `<meta name='viewport' content='width=device-width,initial-scale=1'>` +\n    `<title>Plazos IB DidactIA</title></head>` +\n    `<body style='margin:0;padding:0;background:#f4f4f5;font-family:-apple-system,BlinkMacSystemFont,sans-serif;'>` +\n    `<div style='max-width:680px;margin:24px auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 2px 16px rgba(0,0,0,0.09);'>` +\n    `<div style='background:${headerBg};padding:28px 32px 24px;'>` +\n    `<div style='font-size:11px;letter-spacing:0.1em;text-transform:uppercase;color:rgba(255,255,255,0.65);margin-bottom:6px;'>DidactIA — Programa IB · ${(visible[0] && visible[0].curso_escolar) || '2024-2025'}</div>` +\n    `<div style='font-size:20px;font-weight:700;color:#fff;'>${headerLabel}</div>` +\n    `<div style='font-size:13px;color:rgba(255,255,255,0.85);margin-top:5px;text-transform:capitalize;'>${cNom} · ${cfg.fechaLegible}</div>` +\n    `</div>` +\n    `<table width='100%' style='border-collapse:collapse;border-bottom:1px solid #e8e8e8;'><tr>` +\n    statCell(myPlazos.filter(p => p.dias < 0).length,                 '#b71c1c', 'Vencidos',  false) +\n    statCell(myPlazos.filter(p => p.dias >= 0 && p.dias <= 2).length, '#c62828', '0–2 días',  false) +\n    statCell(myPlazos.filter(p => p.dias >= 3 && p.dias <= 7).length, '#e65100', '3–7 días',  false) +\n    statCell(myPlazos.filter(p => p.dias > 7).length,                 '#1e6b3a', '> 7 días',  true) +\n    `</tr></table>` +\n    `<div style='padding:24px 32px 8px;'>` +\n    `<div style='font-size:11px;font-weight:700;letter-spacing:0.08em;text-transform:uppercase;color:#555;margin-bottom:12px;'>Plazos próximos y vencidos (≤ 30 días)</div>` +\n    `<table width='100%' style='border-collapse:collapse;'>` +\n    `<thead><tr>` +\n    `<th style='${TH}'>Título / Descripción</th>` +\n    `<th style='${TH}text-align:center;'>Fecha límite</th>` +\n    `<th style='${TH}text-align:center;'>Tiempo</th>` +\n    `<th style='${TH}text-align:center;'>Tipo</th>` +\n    `<th style='${TH}text-align:center;'>Afecta a</th>` +\n    `</tr></thead>` +\n    `<tbody>${rows || fallbackRow}</tbody>` +\n    `</table></div>` +\n    `<div style='padding:14px 32px;border-top:1px solid #e8e8e8;background:#fafafa;'>` +\n    `<div style='font-size:11px;color:#aaa;'>Generado por <strong style='color:#1a73e8;'>DidactIA</strong> — didactia.eu — No respondas a este email</div>` +\n    `</div></div></body></html>`;\n\n  return [{ json: {\n    to:        String(admin.email).trim(),\n    cc:        cfg.SUPERADMIN_CC,\n    subject:   `${subjPrefix}DidactIA — Plazos IB: ${alertCount} en ≤7 días — ${cNom}`,\n    html,\n    fromEmail: cfg.FROM_EMAIL,\n    resendKey: cfg.RESEND_KEY\n  }}];\n});"
      },
      "id": "d4d0d004-0000-0000-0000-000000000005",
      "name": "Build Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.resendKey }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { from: $json.fromEmail, to: [$json.to], cc: [$json.cc], subject: $json.subject, html: $json.html } }}",
        "options": {}
      },
      "id": "d4d0d004-0000-0000-0000-000000000006",
      "name": "Send Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Lunes-Viernes 9:00": {
      "main": [[{ "node": "Config y fechas", "type": "main", "index": 0 }]]
    },
    "Config y fechas": {
      "main": [[{ "node": "Get Admins",      "type": "main", "index": 0 }]]
    },
    "Get Admins": {
      "main": [[{ "node": "Get Plazos",      "type": "main", "index": 0 }]]
    },
    "Get Plazos": {
      "main": [[{ "node": "Build Emails",    "type": "main", "index": 0 }]]
    },
    "Build Emails": {
      "main": [[{ "node": "Send Resend",     "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
