n8n-briefing-matutino.json
{
  "name": "DidactIA — Briefing Matutino",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "15 8 * * 1-5" }
          ]
        }
      },
      "id": "d1a0a001-0000-0000-0000-000000000001",
      "name": "Lunes-Viernes 8:15",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "// ─── EDITAR ESTAS DOS LÍNEAS ANTES DE ACTIVAR ───────────────\nconst SUPABASE_KEY = 'PEGAR_SERVICE_ROLE_KEY_AQUI';\nconst RESEND_KEY   = 'PEGAR_RESEND_API_KEY_AQUI';\n// ─────────────────────────────────────────────────────────────\n\nconst SUPABASE_URL = 'https://rflfsbrdmgaidhvbuvwb.supabase.co';\nconst FROM_EMAIL   = 'DidactIA Briefing <briefing@didactia.eu>';\n\nconst pad = n => String(n).padStart(2, '0');\nconst fmt = d => `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}`;\nconst now = new Date();\nconst today = fmt(now);\nconst yd = new Date(now);\nyd.setDate(yd.getDate() - 1);\nconst yesterday = fmt(yd);\nconst fechaLegible = now.toLocaleDateString('es-ES', {\n  weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'\n});\n\nreturn [{ json: { SUPABASE_URL, SUPABASE_KEY, RESEND_KEY, FROM_EMAIL, today, yesterday, fechaLegible } }];"
      },
      "id": "d1a0a001-0000-0000-0000-000000000002",
      "name": "Config y fechas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config y fechas').first().json.SUPABASE_URL + '/rest/v1/profiles' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config y fechas').first().json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config y fechas').first().json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,full_name,email,centro_id,centros(id,nombre)" },
            { "name": "rol",    "value": "eq.admin" },
            { "name": "activo", "value": "neq.false" }
          ]
        },
        "options": {}
      },
      "id": "d1a0a001-0000-0000-0000-000000000003",
      "name": "Get Admins",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config y fechas').first().json.SUPABASE_URL + '/rest/v1/sustituciones' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config y fechas').first().json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config y fechas').first().json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select",   "value": "centro_id,tramo,hora_inicio,hora_fin,grupo_horario,profesor_ausente,profesor_sustituto,observaciones" },
            { "name": "cubierta", "value": "eq.false" },
            { "name": "fecha",    "value": "={{ 'eq.' + $('Config y fechas').first().json.today }}" },
            { "name": "order",    "value": "tramo.asc" }
          ]
        },
        "options": {}
      },
      "id": "d1a0a001-0000-0000-0000-000000000004",
      "name": "Get Sustituciones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config y fechas').first().json.SUPABASE_URL + '/rest/v1/ausencias_profesor' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config y fechas').first().json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config y fechas').first().json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select",   "value": "centro_id,tipo,motivo,fecha,fecha_fin,profiles(full_name)" },
            { "name": "estado",   "value": "eq.aprobada" },
            { "name": "fecha",    "value": "={{ 'lte.' + $('Config y fechas').first().json.today }}" },
            { "name": "fecha_fin","value": "={{ 'gte.' + $('Config y fechas').first().json.today }}" }
          ]
        },
        "options": {}
      },
      "id": "d1a0a001-0000-0000-0000-000000000005",
      "name": "Get Ausencias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config y fechas').first().json.SUPABASE_URL + '/rest/v1/asistencia_comedor' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config y fechas').first().json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config y fechas').first().json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select",   "value": "centro_id" },
            { "name": "se_queda", "value": "eq.true" },
            { "name": "fecha",    "value": "={{ 'eq.' + $('Config y fechas').first().json.yesterday }}" }
          ]
        },
        "options": {}
      },
      "id": "d1a0a001-0000-0000-0000-000000000006",
      "name": "Get Comedor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "jsCode": "const cfg  = $('Config y fechas').first().json;\nconst ad   = Array.isArray($('Get Admins').first().json)        ? $('Get Admins').first().json        : [];\nconst su   = Array.isArray($('Get Sustituciones').first().json)  ? $('Get Sustituciones').first().json  : [];\nconst au   = Array.isArray($('Get Ausencias').first().json)      ? $('Get Ausencias').first().json      : [];\nconst co   = Array.isArray($('Get Comedor').first().json)        ? $('Get Comedor').first().json        : [];\n\n// Agrupar por centro_id\nconst sustBC = {}, ausBC = {}, comeBC = {};\nsu.forEach(s => { if (!sustBC[s.centro_id]) sustBC[s.centro_id] = []; sustBC[s.centro_id].push(s); });\nau.forEach(a => { if (!ausBC[a.centro_id])  ausBC[a.centro_id]  = []; ausBC[a.centro_id].push(a);  });\nco.forEach(r => { comeBC[r.centro_id] = (comeBC[r.centro_id] || 0) + 1; });\n\nconst TIPOS = {\n  baja_medica: 'Baja medica', permiso: 'Permiso',\n  asunto_propio: 'Asunto propio', formacion: 'Formacion',\n  sindical: 'Sindical', otros: 'Otros'\n};\n\n// Verde si 0, naranja si poco, rojo si mucho\nconst clr = (n, a, b) => n === 0 ? '#1e6b3a' : n < a ? '#e65100' : '#c62828';\n\nreturn ad.filter(admin => admin.email).map(admin => {\n  const cId   = admin.centro_id;\n  const cNom  = (admin.centros && admin.centros.nombre) || 'Centro';\n  const mySust = sustBC[cId] || [];\n  const myAus  = ausBC[cId]  || [];\n  const nCome  = comeBC[cId] || 0;\n\n  const TH = `padding:8px 12px;font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:0.04em;color:#666;background:#f8f9fa;border-bottom:2px solid #e8e8e8;text-align:left;`;\n  const TD = `padding:9px 12px;color:#333;font-size:13px;border-bottom:1px solid #f0f0f0;`;\n  const sinAsignar = `<span style='color:#c62828;font-weight:600;'>Sin asignar</span>`;\n\n  const sRows = mySust.length === 0\n    ? `<tr><td colspan='5' style='${TD}text-align:center;color:#888;padding:16px;'>No hay sustituciones pendientes hoy</td></tr>`\n    : mySust.map(s =>\n        `<tr><td style='${TD}'>${s.tramo||'—'}</td>` +\n        `<td style='${TD}white-space:nowrap;'>${s.hora_inicio||'—'}–${s.hora_fin||'—'}</td>` +\n        `<td style='${TD}'>${s.grupo_horario||'—'}</td>` +\n        `<td style='${TD}'>${s.profesor_ausente||'—'}</td>` +\n        `<td style='${TD}'>${s.profesor_sustituto||sinAsignar}</td></tr>`\n      ).join('');\n\n  const aRows = myAus.length === 0\n    ? `<tr><td colspan='3' style='${TD}text-align:center;color:#888;padding:16px;'>No hay ausencias aprobadas hoy</td></tr>`\n    : myAus.map(a => {\n        const fStr = (a.fecha_fin && a.fecha_fin !== a.fecha)\n          ? `${a.fecha} a ${a.fecha_fin}` : (a.fecha||'—');\n        return `<tr>` +\n          `<td style='${TD}'>${(a.profiles && a.profiles.full_name)||'—'}</td>` +\n          `<td style='${TD}'>${TIPOS[a.tipo]||a.tipo||'—'}</td>` +\n          `<td style='${TD}white-space:nowrap;'>${fStr}</td></tr>`;\n      }).join('');\n\n  const html =\n    `<!DOCTYPE html><html lang='es'><head><meta charset='UTF-8'>` +\n    `<meta name='viewport' content='width=device-width,initial-scale=1'>` +\n    `<title>Briefing DidactIA</title></head>` +\n    `<body style='margin:0;padding:0;background:#f4f4f5;font-family:-apple-system,BlinkMacSystemFont,sans-serif;'>` +\n    `<div style='max-width:640px;margin:24px auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 2px 16px rgba(0,0,0,0.09);'>` +\n\n    `<div style='background:#1a73e8;padding:28px 32px 24px;'>` +\n    `<div style='font-size:11px;letter-spacing:0.1em;text-transform:uppercase;color:rgba(255,255,255,0.65);margin-bottom:6px;'>DidactIA - Briefing matutino</div>` +\n    `<div style='font-size:20px;font-weight:700;color:#fff;'>${cNom}</div>` +\n    `<div style='font-size:14px;color:rgba(255,255,255,0.85);margin-top:5px;text-transform:capitalize;'>${cfg.fechaLegible}</div>` +\n    `</div>` +\n\n    `<table width='100%' style='border-collapse:collapse;border-bottom:1px solid #e8e8e8;'><tr>` +\n    `<td width='33%' style='padding:20px;text-align:center;border-right:1px solid #e8e8e8;'>` +\n    `<div style='font-size:40px;font-weight:700;color:${clr(mySust.length,1,5)};line-height:1;'>${mySust.length}</div>` +\n    `<div style='font-size:11px;color:#888;margin-top:5px;text-transform:uppercase;'>Sust. pendientes</div></td>` +\n    `<td width='33%' style='padding:20px;text-align:center;border-right:1px solid #e8e8e8;'>` +\n    `<div style='font-size:40px;font-weight:700;color:${clr(myAus.length,1,4)};line-height:1;'>${myAus.length}</div>` +\n    `<div style='font-size:11px;color:#888;margin-top:5px;text-transform:uppercase;'>Ausencias hoy</div></td>` +\n    `<td width='33%' style='padding:20px;text-align:center;'>` +\n    `<div style='font-size:40px;font-weight:700;color:#333;line-height:1;'>${nCome}</div>` +\n    `<div style='font-size:11px;color:#888;margin-top:5px;text-transform:uppercase;'>Comensales ayer</div></td>` +\n    `</tr></table>` +\n\n    `<div style='padding:24px 32px 8px;'>` +\n    `<div style='font-size:11px;font-weight:700;letter-spacing:0.08em;text-transform:uppercase;color:#555;margin-bottom:12px;'>Sustituciones pendientes de cubrir</div>` +\n    `<table width='100%' style='border-collapse:collapse;'><thead><tr>` +\n    `<th style='${TH}'>Tramo</th><th style='${TH}'>Hora</th><th style='${TH}'>Grupo</th>` +\n    `<th style='${TH}'>Ausente</th><th style='${TH}'>Sustituto</th>` +\n    `</tr></thead><tbody>${sRows}</tbody></table></div>` +\n\n    `<div style='padding:16px 32px 24px;'>` +\n    `<div style='font-size:11px;font-weight:700;letter-spacing:0.08em;text-transform:uppercase;color:#555;margin-bottom:12px;'>Ausencias aprobadas hoy</div>` +\n    `<table width='100%' style='border-collapse:collapse;'><thead><tr>` +\n    `<th style='${TH}'>Profesor/a</th><th style='${TH}'>Tipo</th><th style='${TH}'>Periodo</th>` +\n    `</tr></thead><tbody>${aRows}</tbody></table></div>` +\n\n    `<div style='padding:14px 32px;border-top:1px solid #e8e8e8;background:#fafafa;'>` +\n    `<div style='font-size:11px;color:#aaa;'>Generado por <strong style='color:#1a73e8;'>DidactIA</strong> - didactia.eu - No respondas a este email</div>` +\n    `</div></div></body></html>`;\n\n  return { json: {\n    to:        admin.email,\n    subject:   `DidactIA - Briefing del ${cfg.fechaLegible} - ${cNom}`,\n    html,\n    fromEmail: cfg.FROM_EMAIL,\n    resendKey: cfg.RESEND_KEY\n  }};\n});"
      },
      "id": "d1a0a001-0000-0000-0000-000000000007",
      "name": "Build Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.resendKey }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { from: $json.fromEmail, to: [$json.to], subject: $json.subject, html: $json.html } }}",
        "options": {}
      },
      "id": "d1a0a001-0000-0000-0000-000000000008",
      "name": "Send Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 400]
    }
  ],
  "connections": {
    "Lunes-Viernes 8:15": {
      "main": [[{ "node": "Config y fechas",   "type": "main", "index": 0 }]]
    },
    "Config y fechas": {
      "main": [[{ "node": "Get Admins",         "type": "main", "index": 0 }]]
    },
    "Get Admins": {
      "main": [[{ "node": "Get Sustituciones",  "type": "main", "index": 0 }]]
    },
    "Get Sustituciones": {
      "main": [[{ "node": "Get Ausencias",      "type": "main", "index": 0 }]]
    },
    "Get Ausencias": {
      "main": [[{ "node": "Get Comedor",        "type": "main", "index": 0 }]]
    },
    "Get Comedor": {
      "main": [[{ "node": "Build Emails",       "type": "main", "index": 0 }]]
    },
    "Build Emails": {
      "main": [[{ "node": "Send Resend",        "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
