n8n-informe-semanal.json
{
  "name": "DidactIA — Informe Semanal",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 15 * * 5" }
          ]
        }
      },
      "id": "d2b0b002-0000-0000-0000-000000000001",
      "name": "Viernes 15:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "// ─── EDITAR ESTAS DOS LÍNEAS ANTES DE ACTIVAR ───────────────\nconst SUPABASE_KEY = 'PEGAR_SERVICE_ROLE_KEY_AQUI';\nconst RESEND_KEY   = 'PEGAR_RESEND_API_KEY_AQUI';\n// ─────────────────────────────────────────────────────────────\n\nconst SUPABASE_URL = 'https://rflfsbrdmgaidhvbuvwb.supabase.co';\nconst FROM_EMAIL   = 'DidactIA Informes <informes@didactia.eu>';\n\nconst pad = n => String(n).padStart(2, '0');\nconst fmt = d => `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}`;\n\nconst now = new Date();\n// Lunes de esta semana (día 1)\nconst dayOfWeek = now.getDay(); // 0=dom, 1=lun ... 5=vie\nconst diffToMonday = dayOfWeek === 0 ? -6 : 1 - dayOfWeek;\nconst monday = new Date(now);\nmonday.setDate(now.getDate() + diffToMonday);\nconst friday = new Date(monday);\nfriday.setDate(monday.getDate() + 4);\n\nconst weekStart = fmt(monday);\nconst weekEnd   = fmt(friday);\n\n// Array de los 5 días lun-vie\nconst weekDays = [];\nfor (let i = 0; i < 5; i++) {\n  const d = new Date(monday);\n  d.setDate(monday.getDate() + i);\n  weekDays.push(fmt(d));\n}\n\nconst semanaLegible = `${monday.getDate()} de ${monday.toLocaleDateString('es-ES',{month:'long'})} al ${friday.getDate()} de ${friday.toLocaleDateString('es-ES',{month:'long',year:'numeric'})}`;\nconst fechaEmision = now.toLocaleDateString('es-ES', { weekday:'long', day:'numeric', month:'long', year:'numeric' });\n\nreturn [{ json: { SUPABASE_URL, SUPABASE_KEY, RESEND_KEY, FROM_EMAIL, weekStart, weekEnd, weekDays, semanaLegible, fechaEmision } }];"
      },
      "id": "d2b0b002-0000-0000-0000-000000000002",
      "name": "Config y fechas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config y fechas').first().json.SUPABASE_URL + '/rest/v1/profiles' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config y fechas').first().json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config y fechas').first().json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,full_name,email,centro_id,centros(id,nombre)" },
            { "name": "rol",    "value": "eq.admin" },
            { "name": "activo", "value": "neq.false" }
          ]
        },
        "options": {}
      },
      "id": "d2b0b002-0000-0000-0000-000000000003",
      "name": "Get Admins",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config y fechas').first().json.SUPABASE_URL + '/rest/v1/sustituciones' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config y fechas').first().json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config y fechas').first().json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "centro_id,fecha,cubierta,profesor_ausente,profesor_sustituto,tramo,grupo_horario" },
            { "name": "fecha",  "value": "={{ 'gte.' + $('Config y fechas').first().json.weekStart }}" },
            { "name": "fecha",  "value": "={{ 'lte.' + $('Config y fechas').first().json.weekEnd }}" },
            { "name": "order",  "value": "fecha.asc,tramo.asc" }
          ]
        },
        "options": {}
      },
      "id": "d2b0b002-0000-0000-0000-000000000004",
      "name": "Get Sustituciones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config y fechas').first().json.SUPABASE_URL + '/rest/v1/ausencias_profesor' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config y fechas').first().json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config y fechas').first().json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select",    "value": "centro_id,tipo,motivo,fecha,fecha_fin,profiles(full_name)" },
            { "name": "estado",    "value": "eq.aprobada" },
            { "name": "fecha",     "value": "={{ 'lte.' + $('Config y fechas').first().json.weekEnd }}" },
            { "name": "fecha_fin", "value": "={{ 'gte.' + $('Config y fechas').first().json.weekStart }}" }
          ]
        },
        "options": {}
      },
      "id": "d2b0b002-0000-0000-0000-000000000005",
      "name": "Get Ausencias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Config y fechas').first().json;\n\nconst _get = name => {\n  const items = $(name).all();\n  if (!items.length) return [];\n  const first = items[0].json;\n  if (Array.isArray(first)) return first;\n  return items.map(i => i.json).filter(Boolean);\n};\n\nconst ad = _get('Get Admins');\nconst su = _get('Get Sustituciones');\nconst au = _get('Get Ausencias');\n\n// Fetch comedor y guardias inline\nlet co = [], gu = [];\ntry {\n  const coResp = await fetch(\n    cfg.SUPABASE_URL + '/rest/v1/asistencia_comedor?select=centro_id,fecha&se_queda=eq.true&fecha=gte.' + cfg.weekStart + '&fecha=lte.' + cfg.weekEnd,\n    { headers: { apikey: cfg.SUPABASE_KEY, Authorization: 'Bearer ' + cfg.SUPABASE_KEY } }\n  );\n  const coData = await coResp.json();\n  if (Array.isArray(coData)) co = coData;\n} catch(e) {}\n\ntry {\n  const guResp = await fetch(\n    cfg.SUPABASE_URL + '/rest/v1/guardias_realizadas?select=centro_id,fecha,profile_id,profiles(full_name)&fecha=gte.' + cfg.weekStart + '&fecha=lte.' + cfg.weekEnd,\n    { headers: { apikey: cfg.SUPABASE_KEY, Authorization: 'Bearer ' + cfg.SUPABASE_KEY } }\n  );\n  const guData = await guResp.json();\n  if (Array.isArray(guData)) gu = guData;\n} catch(e) {}\n\n// Helpers de estilo\nconst TH = `padding:8px 12px;font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:0.04em;color:#666;background:#f8f9fa;border-bottom:2px solid #e8e8e8;text-align:left;`;\nconst TD = `padding:9px 12px;color:#333;font-size:13px;border-bottom:1px solid #f0f0f0;`;\nconst TDC = `padding:9px 12px;color:#333;font-size:13px;border-bottom:1px solid #f0f0f0;text-align:center;`;\n\nconst TIPOS = {\n  baja_medica:'Baja médica', permiso:'Permiso', asunto_propio:'Asunto propio',\n  formacion:'Formación', sindical:'Sindical', otros:'Otros'\n};\n\nconst DIAS_CORTOS = { '1':'Lun', '2':'Mar', '3':'Mié', '4':'Jue', '5':'Vie' };\n\nconst shortDate = iso => {\n  const [,, d] = iso.split('-');\n  const dow = new Date(iso + 'T12:00:00').getDay();\n  return (DIAS_CORTOS[String(dow)] || '') + ' ' + parseInt(d);\n};\n\nreturn ad.filter(a => a.email && String(a.email).includes('@')).map(admin => {\n  const cId  = admin.centro_id;\n  const cNom = (admin.centros && admin.centros.nombre) || 'Centro';\n\n  // Sustituciones de la semana para este centro\n  const mySust = su.filter(s => s.centro_id === cId);\n  const sustTotal    = mySust.length;\n  const sustCubiertas = mySust.filter(s => s.cubierta).length;\n  const sustPendientes = sustTotal - sustCubiertas;\n\n  // Sustituciones por día\n  const sustPorDia = {};\n  cfg.weekDays.forEach(d => { sustPorDia[d] = 0; });\n  mySust.forEach(s => { if (sustPorDia[s.fecha] !== undefined) sustPorDia[s.fecha]++; });\n\n  // Ausencias de la semana\n  const myAus = au.filter(a => a.centro_id === cId);\n  const ausTipos = {};\n  myAus.forEach(a => { ausTipos[a.tipo] = (ausTipos[a.tipo] || 0) + 1; });\n\n  // Comedor por día\n  const comePorDia = {};\n  cfg.weekDays.forEach(d => { comePorDia[d] = 0; });\n  co.filter(r => r.centro_id === cId).forEach(r => {\n    if (comePorDia[r.fecha] !== undefined) comePorDia[r.fecha]++;\n  });\n  const comeTotal = Object.values(comePorDia).reduce((a,b) => a+b, 0);\n  const comeMedia = sustTotal > 0 || comeTotal > 0 ? Math.round(comeTotal / cfg.weekDays.filter(d => comePorDia[d] > 0).length || 0) : 0;\n\n  // Guardias por profesor\n  const myGu = gu.filter(g => g.centro_id === cId);\n  const guPorProf = {};\n  myGu.forEach(g => {\n    const nombre = (g.profiles && g.profiles.full_name) || 'Desconocido';\n    guPorProf[nombre] = (guPorProf[nombre] || 0) + 1;\n  });\n  const topGuardias = Object.entries(guPorProf).sort((a,b) => b[1]-a[1]).slice(0,5);\n\n  // ── Tabla resumen diario (sust + comedor) ──\n  const diasRows = cfg.weekDays.map(d =>\n    `<tr>` +\n    `<td style='${TD}font-weight:600;'>${shortDate(d)}</td>` +\n    `<td style='${TDC}'>${sustPorDia[d]||0}</td>` +\n    `<td style='${TDC}'>${comePorDia[d]||0}</td>` +\n    `</tr>`\n  ).join('');\n\n  // ── Tabla sustituciones detalle ──\n  const sustRows = mySust.length === 0\n    ? `<tr><td colspan='5' style='${TD}text-align:center;color:#888;padding:16px;'>Sin sustituciones esta semana</td></tr>`\n    : mySust.map(s =>\n        `<tr>` +\n        `<td style='${TD}white-space:nowrap;font-weight:600;'>${shortDate(s.fecha)}</td>` +\n        `<td style='${TD}'>${s.tramo||'—'}</td>` +\n        `<td style='${TD}'>${s.grupo_horario||'—'}</td>` +\n        `<td style='${TD}'>${s.profesor_ausente||'—'}</td>` +\n        `<td style='${TDC}'>${s.cubierta\n          ? `<span style='color:#1e6b3a;font-weight:600;'>✓</span>`\n          : `<span style='color:#c62828;font-weight:600;'>⚠</span>`}</td>` +\n        `</tr>`\n      ).join('');\n\n  // ── Tabla guardias por profesor ──\n  const guRows = topGuardias.length === 0\n    ? `<tr><td colspan='2' style='${TD}text-align:center;color:#888;padding:16px;'>Sin guardias registradas esta semana</td></tr>`\n    : topGuardias.map(([nombre, count], i) =>\n        `<tr>` +\n        `<td style='${TD}'>${i===0?`<strong>${nombre}</strong>`:nombre}</td>` +\n        `<td style='${TDC}font-weight:${i===0?'700':'400'};color:${i===0?'#1a73e8':'#333'};'>${count}</td>` +\n        `</tr>`\n      ).join('');\n\n  // ── Tabla ausencias por tipo ──\n  const ausRows = Object.keys(ausTipos).length === 0\n    ? `<tr><td colspan='2' style='${TD}text-align:center;color:#888;padding:16px;'>Sin ausencias aprobadas esta semana</td></tr>`\n    : Object.entries(ausTipos).map(([tipo, cnt]) =>\n        `<tr><td style='${TD}'>${TIPOS[tipo]||tipo}</td><td style='${TDC}'>${cnt}</td></tr>`\n      ).join('');\n\n  const statColor = n => n === 0 ? '#1e6b3a' : n < 3 ? '#e65100' : '#c62828';\n\n  const html =\n    `<!DOCTYPE html><html lang='es'><head><meta charset='UTF-8'>` +\n    `<meta name='viewport' content='width=device-width,initial-scale=1'>` +\n    `<title>Informe semanal DidactIA</title></head>` +\n    `<body style='margin:0;padding:0;background:#f4f4f5;font-family:-apple-system,BlinkMacSystemFont,sans-serif;'>` +\n    `<div style='max-width:660px;margin:24px auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 2px 16px rgba(0,0,0,0.09);'>` +\n\n    `<div style='background:#1a73e8;padding:28px 32px 24px;'>` +\n    `<div style='font-size:11px;letter-spacing:0.1em;text-transform:uppercase;color:rgba(255,255,255,0.65);margin-bottom:6px;'>DidactIA — Informe semanal</div>` +\n    `<div style='font-size:20px;font-weight:700;color:#fff;'>${cNom}</div>` +\n    `<div style='font-size:13px;color:rgba(255,255,255,0.85);margin-top:5px;text-transform:capitalize;'>Semana del ${cfg.semanaLegible}</div>` +\n    `</div>` +\n\n    `<table width='100%' style='border-collapse:collapse;border-bottom:1px solid #e8e8e8;'><tr>` +\n    `<td width='25%' style='padding:20px;text-align:center;border-right:1px solid #e8e8e8;'>` +\n    `<div style='font-size:36px;font-weight:700;color:${statColor(sustTotal)};line-height:1;'>${sustTotal}</div>` +\n    `<div style='font-size:10px;color:#888;margin-top:5px;text-transform:uppercase;'>Sust. totales</div></td>` +\n    `<td width='25%' style='padding:20px;text-align:center;border-right:1px solid #e8e8e8;'>` +\n    `<div style='font-size:36px;font-weight:700;color:${statColor(sustPendientes)};line-height:1;'>${sustPendientes}</div>` +\n    `<div style='font-size:10px;color:#888;margin-top:5px;text-transform:uppercase;'>Sin cubrir</div></td>` +\n    `<td width='25%' style='padding:20px;text-align:center;border-right:1px solid #e8e8e8;'>` +\n    `<div style='font-size:36px;font-weight:700;color:#333;line-height:1;'>${myAus.length}</div>` +\n    `<div style='font-size:10px;color:#888;margin-top:5px;text-transform:uppercase;'>Ausencias</div></td>` +\n    `<td width='25%' style='padding:20px;text-align:center;'>` +\n    `<div style='font-size:36px;font-weight:700;color:#333;line-height:1;'>${comeTotal}</div>` +\n    `<div style='font-size:10px;color:#888;margin-top:5px;text-transform:uppercase;'>Comidas semana</div></td>` +\n    `</tr></table>` +\n\n    `<div style='padding:24px 32px 8px;'>` +\n    `<div style='font-size:11px;font-weight:700;letter-spacing:0.08em;text-transform:uppercase;color:#555;margin-bottom:12px;'>Resumen diario</div>` +\n    `<table width='100%' style='border-collapse:collapse;'>` +\n    `<thead><tr><th style='${TH}'>Día</th><th style='${TH}text-align:center;'>Sustituciones</th><th style='${TH}text-align:center;'>Comensales</th></tr></thead>` +\n    `<tbody>${diasRows}</tbody>` +\n    `<tfoot><tr>` +\n    `<td style='${TD}font-weight:700;'>Total semana</td>` +\n    `<td style='${TDC}font-weight:700;'>${sustTotal}</td>` +\n    `<td style='${TDC}font-weight:700;'>${comeTotal}</td>` +\n    `</tr></tfoot>` +\n    `</table></div>` +\n\n    `<div style='padding:16px 32px 8px;'>` +\n    `<div style='font-size:11px;font-weight:700;letter-spacing:0.08em;text-transform:uppercase;color:#555;margin-bottom:12px;'>Detalle de sustituciones</div>` +\n    `<table width='100%' style='border-collapse:collapse;'>` +\n    `<thead><tr><th style='${TH}'>Día</th><th style='${TH}'>Tramo</th><th style='${TH}'>Grupo</th><th style='${TH}'>Ausente</th><th style='${TH}text-align:center;'>Estado</th></tr></thead>` +\n    `<tbody>${sustRows}</tbody></table></div>` +\n\n    `<div style='padding:16px 32px 8px;'>` +\n    `<div style='font-size:11px;font-weight:700;letter-spacing:0.08em;text-transform:uppercase;color:#555;margin-bottom:12px;'>Profesores con más guardias esta semana</div>` +\n    `<table width='100%' style='border-collapse:collapse;'>` +\n    `<thead><tr><th style='${TH}'>Profesor/a</th><th style='${TH}text-align:center;'>Guardias</th></tr></thead>` +\n    `<tbody>${guRows}</tbody></table></div>` +\n\n    `<div style='padding:16px 32px 24px;'>` +\n    `<div style='font-size:11px;font-weight:700;letter-spacing:0.08em;text-transform:uppercase;color:#555;margin-bottom:12px;'>Ausencias por tipo</div>` +\n    `<table width='100%' style='border-collapse:collapse;'>` +\n    `<thead><tr><th style='${TH}'>Tipo</th><th style='${TH}text-align:center;'>Total</th></tr></thead>` +\n    `<tbody>${ausRows}</tbody></table></div>` +\n\n    `<div style='padding:14px 32px;border-top:1px solid #e8e8e8;background:#fafafa;'>` +\n    `<div style='font-size:11px;color:#aaa;'>Emitido el ${cfg.fechaEmision} por <strong style='color:#1a73e8;'>DidactIA</strong> — didactia.eu — No respondas a este email</div>` +\n    `</div></div></body></html>`;\n\n  return { json: {\n    to:        String(admin.email).trim(),\n    subject:   `DidactIA — Informe semanal ${cfg.semanaLegible} — ${cNom}`,\n    html,\n    fromEmail: cfg.FROM_EMAIL,\n    resendKey: cfg.RESEND_KEY\n  }};\n});"
      },
      "id": "d2b0b002-0000-0000-0000-000000000006",
      "name": "Build Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.resendKey }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { from: $json.fromEmail, to: [$json.to], subject: $json.subject, html: $json.html } }}",
        "options": {}
      },
      "id": "d2b0b002-0000-0000-0000-000000000007",
      "name": "Send Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 400]
    }
  ],
  "connections": {
    "Viernes 15:00": {
      "main": [[{ "node": "Config y fechas",  "type": "main", "index": 0 }]]
    },
    "Config y fechas": {
      "main": [[{ "node": "Get Admins",        "type": "main", "index": 0 }]]
    },
    "Get Admins": {
      "main": [[{ "node": "Get Sustituciones", "type": "main", "index": 0 }]]
    },
    "Get Sustituciones": {
      "main": [[{ "node": "Get Ausencias",     "type": "main", "index": 0 }]]
    },
    "Get Ausencias": {
      "main": [[{ "node": "Build Emails",      "type": "main", "index": 0 }]]
    },
    "Build Emails": {
      "main": [[{ "node": "Send Resend",       "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
