n8n-alerta-comedor.json
{
  "name": "DidactIA — Alerta Absentismo Comedor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 16 * * 1-5" }
          ]
        }
      },
      "id": "d3c0c003-0000-0000-0000-000000000001",
      "name": "Lunes-Viernes 16:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "// ─── EDITAR ESTAS DOS LÍNEAS ANTES DE ACTIVAR ───────────────\nconst SUPABASE_KEY = 'PEGAR_SERVICE_ROLE_KEY_AQUI';\nconst RESEND_KEY   = 'PEGAR_RESEND_API_KEY_AQUI';\n// ─────────────────────────────────────────────────────────────\n\nconst SUPABASE_URL = 'https://rflfsbrdmgaidhvbuvwb.supabase.co';\nconst FROM_EMAIL   = 'DidactIA Alertas <alertas@didactia.eu>';\n\nconst pad = n => String(n).padStart(2, '0');\nconst fmt = d => `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}`;\nconst now = new Date();\nconst today = fmt(now);\nconst d30 = new Date(now);\nd30.setDate(d30.getDate() - 30);\nconst thirtyDaysAgo = fmt(d30);\nconst fechaLegible = now.toLocaleDateString('es-ES', {\n  weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'\n});\n\nreturn [{ json: { SUPABASE_URL, SUPABASE_KEY, RESEND_KEY, FROM_EMAIL, today, thirtyDaysAgo, fechaLegible } }];"
      },
      "id": "d3c0c003-0000-0000-0000-000000000002",
      "name": "Config y fechas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config y fechas').first().json.SUPABASE_URL + '/rest/v1/alumnos' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config y fechas').first().json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config y fechas').first().json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,nombre,grupo_horario,centro_id" },
            { "name": "limit",  "value": "3000" }
          ]
        },
        "options": {}
      },
      "id": "d3c0c003-0000-0000-0000-000000000003",
      "name": "Get Alumnos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config y fechas').first().json.SUPABASE_URL + '/rest/v1/asistencia_comedor' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config y fechas').first().json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config y fechas').first().json.SUPABASE_KEY }}" },
            { "name": "Range",         "value": "0-9999" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "alumno_id,fecha,se_queda,centro_id" },
            { "name": "fecha",  "value": "={{ 'gte.' + $('Config y fechas').first().json.thirtyDaysAgo }}" },
            { "name": "order",  "value": "fecha.desc" }
          ]
        },
        "options": {}
      },
      "id": "d3c0c003-0000-0000-0000-000000000004",
      "name": "Get Asistencia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Config y fechas').first().json;\n\nconst _get = name => {\n  const items = $(name).all();\n  if (!items.length) return [];\n  const first = items[0].json;\n  if (Array.isArray(first)) return first;\n  return items.map(i => i.json).filter(Boolean);\n};\n\nconst alumnos    = _get('Get Alumnos');\nconst asistencia = _get('Get Asistencia');\n\n// Fetch horarios_grupo (para obtener tutor = prof del primer tramo de cada grupo)\n// Fetch profiles de profesionales/admins (para obtener emails)\nlet horarios = [], profProfiles = [];\ntry {\n  const hResp = await fetch(\n    cfg.SUPABASE_URL + '/rest/v1/horarios_grupo?select=centro_id,grupo_horario,tramo,profesor_nombre&order=centro_id.asc,grupo_horario.asc,tramo.asc&limit=5000',\n    { headers: { apikey: cfg.SUPABASE_KEY, Authorization: 'Bearer ' + cfg.SUPABASE_KEY } }\n  );\n  const hData = await hResp.json();\n  if (Array.isArray(hData)) horarios = hData;\n} catch(e) {}\n\ntry {\n  const pResp = await fetch(\n    cfg.SUPABASE_URL + '/rest/v1/profiles?select=full_name,email,centro_id&rol=in.(profesional,admin)&activo=neq.false&limit=500',\n    { headers: { apikey: cfg.SUPABASE_KEY, Authorization: 'Bearer ' + cfg.SUPABASE_KEY } }\n  );\n  const pData = await pResp.json();\n  if (Array.isArray(pData)) profProfiles = pData;\n} catch(e) {}\n\n// ── Utilidades de fechas ──────────────────────────────────────\nconst pad = n => String(n).padStart(2, '0');\nconst fmt = d => `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}`;\n\n// Devuelve los últimos N días laborables (lun-vie) desde hoy inclusive, más reciente primero\nconst getLastWorkingDays = n => {\n  const days = [];\n  const d = new Date(cfg.today + 'T12:00:00');\n  while (days.length < n) {\n    const dow = d.getDay();\n    if (dow !== 0 && dow !== 6) days.push(fmt(d));\n    d.setDate(d.getDate() - 1);\n  }\n  return days;\n};\n\nconst last30WD = getLastWorkingDays(30); // para calcular comedores habituales\nconst checkWin = last30WD.slice(0, 7);   // ventana de racha: hasta 7 días atrás\n\n// ── Mapa de asistencia: alumno_id → { fecha → se_queda } ─────\nconst attMap = {};\nasistencia.forEach(r => {\n  if (!attMap[r.alumno_id]) attMap[r.alumno_id] = {};\n  attMap[r.alumno_id][r.fecha] = r.se_queda;\n});\n\n// ── Filtrar comedores habituales: ≥5 días con se_queda=true en 30 días ──\nconst regularIds = new Set();\nalumnos.forEach(al => {\n  const att = attMap[al.id] || {};\n  if (last30WD.filter(d => att[d] === true).length >= 5) regularIds.add(al.id);\n});\n\n// ── Detectar racha de ausencias consecutivas ≥3 días laborables ──\nconst alerts = [];\nalumnos.forEach(al => {\n  if (!regularIds.has(al.id)) return;\n  const att = attMap[al.id] || {};\n  let streak = 0;\n  for (const day of checkWin) {\n    if (att[day] === true) break; // comió ese día → corta la racha\n    streak++;\n  }\n  if (streak >= 3) alerts.push({ ...al, streak });\n});\n\nif (!alerts.length) return []; // sin alertas: el workflow finaliza sin enviar emails\n\n// ── Mapa tutor por (centro_id, grupo_horario): primer prof del tramo más bajo ──\nconst tutorMap = {};\nhorarios.forEach(h => {\n  const key = `${h.centro_id}__${h.grupo_horario}`;\n  if (!tutorMap[key]) tutorMap[key] = h.profesor_nombre; // ya llega ordenado por tramo.asc\n});\n\n// ── Mapa profile por nombre (lowercase) ──\nconst profByName = {};\nprofProfiles.forEach(p => {\n  if (p.full_name) profByName[p.full_name.trim().toLowerCase()] = p;\n});\n\n// ── Agrupar alertas por tutor ──────────────────────────────────\nconst byTutor = {};\nalerts.forEach(al => {\n  const key = `${al.centro_id}__${al.grupo_horario}`;\n  const tutorName = tutorMap[key];\n  if (!tutorName) return;\n  const profile = profByName[tutorName.trim().toLowerCase()];\n  if (!profile || !String(profile.email).includes('@')) return;\n  const email = String(profile.email).trim();\n  if (!byTutor[email]) byTutor[email] = { email, nombre: profile.full_name, alumnos: [] };\n  byTutor[email].alumnos.push(al);\n});\n\nif (!Object.keys(byTutor).length) return [];\n\n// ── Estilos compartidos ───────────────────────────────────────\nconst TH  = `padding:8px 12px;font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:0.04em;color:#666;background:#f8f9fa;border-bottom:2px solid #e8e8e8;text-align:left;`;\nconst TD  = `padding:9px 12px;color:#333;font-size:13px;border-bottom:1px solid #f0f0f0;`;\nconst TDC = `padding:9px 12px;color:#333;font-size:13px;border-bottom:1px solid #f0f0f0;text-align:center;`;\n\nconst badge = n => {\n  const c = n >= 5 ? '#c62828' : '#e65100';\n  return `<span style='background:${c};color:#fff;padding:2px 8px;border-radius:10px;font-size:11px;font-weight:700;'>${n} días</span>`;\n};\n\n// ── Generar un email por tutor ────────────────────────────────\nreturn Object.values(byTutor).map(tutor => {\n  const count = tutor.alumnos.length;\n\n  const rows = tutor.alumnos\n    .sort((a, b) => b.streak - a.streak) // más días primero\n    .map(al =>\n      `<tr>` +\n      `<td style='${TD}font-weight:600;'>${al.nombre||'—'}</td>` +\n      `<td style='${TDC}'>${al.grupo_horario||'—'}</td>` +\n      `<td style='${TDC}'>${badge(al.streak)}</td>` +\n      `</tr>`\n    ).join('');\n\n  const html =\n    `<!DOCTYPE html><html lang='es'><head><meta charset='UTF-8'>` +\n    `<meta name='viewport' content='width=device-width,initial-scale=1'>` +\n    `<title>Alerta comedor DidactIA</title></head>` +\n    `<body style='margin:0;padding:0;background:#f4f4f5;font-family:-apple-system,BlinkMacSystemFont,sans-serif;'>` +\n    `<div style='max-width:580px;margin:24px auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 2px 16px rgba(0,0,0,0.09);'>` +\n    `<div style='background:#e65100;padding:28px 32px 24px;'>` +\n    `<div style='font-size:11px;letter-spacing:0.1em;text-transform:uppercase;color:rgba(255,255,255,0.65);margin-bottom:6px;'>DidactIA — Alerta de absentismo</div>` +\n    `<div style='font-size:20px;font-weight:700;color:#fff;'>${count === 1 ? '1 alumno ausente' : count + ' alumnos ausentes'} en comedor</div>` +\n    `<div style='font-size:13px;color:rgba(255,255,255,0.85);margin-top:5px;text-transform:capitalize;'>${cfg.fechaLegible}</div>` +\n    `</div>` +\n    `<div style='padding:20px 32px;background:#fff3e0;border-bottom:1px solid #ffe0b2;'>` +\n    `<div style='font-size:13px;color:#bf360c;'>` +\n    `Hola <strong>${tutor.nombre}</strong>,<br><br>` +\n    `Los siguientes alumnos de tu grupo llevan <strong>3 o más días laborables consecutivos</strong> ` +\n    `sin registrar asistencia al comedor, siendo comensales habituales. ` +\n    `Puede ser conveniente contactar con las familias.` +\n    `</div></div>` +\n    `<div style='padding:24px 32px 8px;'>` +\n    `<table width='100%' style='border-collapse:collapse;'>` +\n    `<thead><tr>` +\n    `<th style='${TH}'>Alumno/a</th>` +\n    `<th style='${TH}text-align:center;'>Grupo</th>` +\n    `<th style='${TH}text-align:center;'>Días consecutivos sin comer</th>` +\n    `</tr></thead>` +\n    `<tbody>${rows}</tbody>` +\n    `</table></div>` +\n    `<div style='padding:16px 32px 20px;'>` +\n    `<div style='font-size:12px;color:#888;background:#f9f9f9;border-radius:8px;padding:12px;line-height:1.6;'>` +\n    `<strong>Criterio de alerta:</strong> alumno con ≥5 días de comedor registrados en los últimos 30 días (comensal habitual) y sin asistencia los últimos ≥3 días laborables consecutivos.` +\n    `</div></div>` +\n    `<div style='padding:14px 32px;border-top:1px solid #e8e8e8;background:#fafafa;'>` +\n    `<div style='font-size:11px;color:#aaa;'>Generado por <strong style='color:#1a73e8;'>DidactIA</strong> — didactia.eu — No respondas a este email</div>` +\n    `</div></div></body></html>`;\n\n  return { json: {\n    to:        String(tutor.email).trim(),\n    subject:   `DidactIA — Alerta comedor: alumnos ausentes ${cfg.fechaLegible}`,\n    html,\n    fromEmail: cfg.FROM_EMAIL,\n    resendKey: cfg.RESEND_KEY\n  }};\n});"
      },
      "id": "d3c0c003-0000-0000-0000-000000000005",
      "name": "Build Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.resendKey }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { from: $json.fromEmail, to: [$json.to], subject: $json.subject, html: $json.html } }}",
        "options": {}
      },
      "id": "d3c0c003-0000-0000-0000-000000000006",
      "name": "Send Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Lunes-Viernes 16:00": {
      "main": [[{ "node": "Config y fechas", "type": "main", "index": 0 }]]
    },
    "Config y fechas": {
      "main": [[{ "node": "Get Alumnos",     "type": "main", "index": 0 }]]
    },
    "Get Alumnos": {
      "main": [[{ "node": "Get Asistencia",  "type": "main", "index": 0 }]]
    },
    "Get Asistencia": {
      "main": [[{ "node": "Build Emails",    "type": "main", "index": 0 }]]
    },
    "Build Emails": {
      "main": [[{ "node": "Send Resend",     "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
